.env
venv_*
__pycache__/
.vscode/

presentation/*
!presentation/main.tex
!presentation/build/
presentation/build/*
!presentation/build/main.pdf

poster/*
!poster/main.tex
!poster/build/
poster/build/*
!poster/build/main.pdf
